html, body{
    height: auto;
}
body{
    position: relative;
}
main{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
   /* margin-top: var(--padding-base); */
}
footer{
    margin-top : 0;
}

.appbar{
    position:sticky;
    top: 0;
}


/* main>section, main>aside{
    margin-top:var(--padding-base);
} */
main .choix{
    height: calc( 100vh - 100px);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    width:22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--couleur-marine);
}
main .liste{
    width:78%;
    display:flex;
    flex-direction: column;
    margin: var(--padding-base) 0;  
}
main .liste a{
    /* width:100%; */
    height:auto;
    padding-left: calc(var(--padding-base) * 3);
    padding-top: var(--padding-base);
    font-size:1.4rem;
    font-weight:600;
}

.lettre{
    font-size:6.4rem;
    font-weight:600;
    color: var(--couleur-marine);
}
.choix >.lettre{
    padding-bottom:var(--padding-base);
}
.lettreChoisie{
    padding : calc(var(--padding-base) * 2 0);
}

.choix>.lettre:first-of-type, .choix> .lettre:last-of-type{
    padding-top: var(--padding-base);
} 
.lettreChoisie p, .lettreChoisie a, .lettreChoisir a svg{
    color: var(--couleur-orange);
}
.lettreChoisie p{
    font-size: 8rem;
}

.lettreChoisie{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.lettreChoisie a svg{
    width:36px;
    height:36px;
}