main{
    flex-direction: column;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
}

main>section, section>.txtLien{
    margin: var(--padding-base) 0;
}

main>section:not(.sesOeuvres){
    margin-left: var(--padding-base);
    margin-right: var(--padding-base);
}

/*RETOUR*/

.flecheLien{
    color:var(--couleur-orange);
    padding: 0 8px;
}
.txtLien{
    display:flex;
}

/* TITRE */
.titre h1{
    color: var(--couleur-marine);
    margin-bottom:var(--padding-base);
    text-align: center;
    line-height:1.5;
}

/*OEUVRES*/

.sesOeuvres{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sesOeuvres .infos{
    background-color: var(--couleur-fond);
    padding: 0 var(--padding-base);
}

/*LIENS EXTERNES*/
.liensExt{
    display:flex;
    margin-top: var(--padding-base);

}
.liensExt .btn{
    margin: var(--padding-base);
}
