.btn{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--couleur-marine);
    width:140px;
    height:40px;
    padding: var(--padding-base) 0;
    border-radius: 5px;
}

/*-------------------- Onglets --------------------*/

.onglet {
    display:inline-block;
    margin-left:3px;
    margin-right:3px;
    padding:3px;
    border:1px solid black;
    cursor:pointer;
}

.onglet_0 {
    background: var(--couleur-fond);
    border-bottom:1px solid black;
}

.onglet_1 {
    background: var(--couleur-bleu);
    border-bottom:0px solid black;
    padding-bottom:4px;
}

.contenu_onglet {
    background-color: var(--couleur-fond);
    border:1px solid black;
    margin-top:-1px;
    padding:5px;
    display:none;
}

ul {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:-10px
}

h1 {
    margin:0px;
    padding:0px;
}
