.flex
{
    display: flex;
}

.flex-col
{
    flex-direction: column;
}

.flex-row
{
    flex-direction: row;
}

.wrap
{
    flex-wrap: wrap;
}

.nowrap
{
    flex-wrap: nowrap;
}

.flex-droite
{
    margin-left: auto;
}

.flex-justifier-espacer
{
    justify-content: space-between;
}