:root {
    --taille-footer : 100px;
}

/*placement footer : en bas page*/
footer{
    flex-shrink: 0;
    width:100%;
    max-width:100%;
    background-color: var(--couleur-fond);
    min-height:var(--taille-footer);
    display: flex;
    color: var(--couleur-marine);
    box-sizing:border-box;
    padding: var(--padding-base);
    margin-top: var(--padding-base);
}
footer .contenu{
    padding: var(--padding-base);
    display: flex;
    justify-content: center;
}

footer p{
    text-align: center;
}
footer .icons svg{
    padding: var(--padding-base);
    width:40px;
    height:40px;
}
footer .icons{
    display:flex;
}
footer .navbar{
    display:none;
}
footer a{
    color: var(--couleur-marine);
}

/* BREAK TABLET PORTRAIT UP */
@media screen and (min-width: 600px) {
    footer .contenu{
        width:100%;
        align-items:center;
        justify-content: space-around;
    }
    footer .icons{
        flex-direction: column;
        height:100%;
        justify-content: center;
        justify-content: space-between;
    }
    footer .icons svg{
        padding:0;
        width:30px;
        height:30px;
        margin:5px;
    }
    footer .liens{
        display:flex;
        height:100%;
        min-width:30%;
    }
    footer .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* height:100%; */
        padding-left: var(--padding-base);
        min-width:80%;
    }
    footer .navbar .lien{
        height:33%;
        width: auto;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    footer .contenu>p{
        text-align: right;
    }
}

/* BREAK TABLET LANDSCAPE UP */
@media screen and (min-width: 900px) {


}

/* BREAK TABLET DESKTOP UP */
@media screen and (min-width: 1200px) {

   


}
