:root {
    --taille-footer : 100px;
}

/*placement footer : en bas page*/
footer{
    flex-shrink: 0;
    width:100%;
    max-width:100%;
    background-color: var(--couleur-fond);
    min-height:var(--taille-footer);
    display: flex;
    color: var(--couleur-marine);
    box-sizing:border-box;
    padding: var(--padding-base);
    margin-top: var(--padding-base);
}
footer .contenu{
    padding: var(--padding-base);
    display: flex;
    justify-content: center;
}

footer p{
    text-align: center;
}

/* footer pages admin */
#footerAdmin{
    width:100%;
    padding:0px;
    display: flex;
    justify-content: center;

}

footer > #p_footerAdmin{
    font-family: Open Sans;
    font-size: 14px;
    padding-top: 15px;
    
}


footer .icons svg{
    width:30px;
    height:30px;
    /* background-color:var(--couleur-marine); */
    /* padding: 10px; */
    /* border-radius:48%; */
}
footer .icons  a{
    margin: var(--padding-base);
    color:var(--couleur-fond);
    padding: 8px;
}
footer .icons a:nth-of-type(1){
    background-color:var(--couleur-marine);
    border-radius:48%;
}
footer .icons a:nth-of-type(2){
    background-color:var(--couleur-orange);
    border-radius:48%;
}
footer .icons a:nth-of-type(3){
    background-color:var(--couleur-bleu);
    border-radius:48%;
}

footer .icons{
    display:flex;
}
footer .navbar{
    display:none;
}
footer a{
    color: var(--couleur-marine);
}

/* BREAK TABLET PORTRAIT UP */
@media screen and (min-width: 600px) {
    footer .contenu{
        width:100%;
        align-items:center;
        justify-content: space-around;
    }
    footer .icons{
        flex-direction: column;
        height:100%;
        justify-content: center;
        justify-content: space-between;
    }
    footer .icons svg{
        padding:0;
        width:30px;
        height:30px;
        margin:5px;
    }
    footer .liens{
        display:flex;
        height:100%;
        min-width:30%;
    }
    footer .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* height:100%; */
        padding-left: var(--padding-base);
        min-width:80%;
    }
    footer .navbar .lien{
        height:33%;
        width: auto;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    footer .contenu>p{
        text-align: right;
    }
}

/* BREAK TABLET LANDSCAPE UP */
@media screen and (min-width: 900px) {


}

/* BREAK TABLET DESKTOP UP */
@media screen and (min-width: 1200px) {

   


}
