
#menu_aside_form_modif{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width:230px;
    background-color: var(--couleur-marine);
}


#formAdmin{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width:100%;
}

#retour{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height:50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
}

#a_image{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-decoration: none;
}

#a_image > p{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: Open Sans;
    color:var(--couleur-orange);
    height:30px;
    margin: 0px;
    
            
}

#text_form_admin{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    font-family: Open Sans;
    background-color: var(--couleur-fond);
    height:50px;
    margin: 0px;
    padding-top: 10px;
}

#a_image:hover{
   width:109px;
   height:40px;
   
}


#inputs_form{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px; 

}

#inputs_form > div{
    width:500px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align:baseline;
    -ms-flex-align:baseline;
    align-items:baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height:30px;    
}

#inputs_form > div:nth-child(1){
    height:10px;
}
#inputs_form > div:nth-child(2){
    height:10px;
}

.div_form > label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.div_form > .box{
    width: 250px;
    height:20px;
    border: 1px solid var(--couleur-marine);
    border-radius: 5px;
    font-size: 12px;
}

.div_form a label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

#btns_form{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; 
    padding-top: 30px;
    padding-bottom: 20px;
}

#btns_form > input{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;    
    border-radius: 5px;   
    width: 100px;    
    color:var(--couleur-fond);
}

#btns_form a{
    text-decoration:none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;    
    border-radius: 5px;   
    width: 100px;    
    color:var(--couleur-fond);
    background-color:var(--couleur-marine);
    border-color:var(--couleur-marine);   
    text-align: center;
}

#annuler{
    background-color:var(--couleur-marine);
    border-color:var(--couleur-marine);    
}

#envoyer{
    background-color:var(--couleur-orange);
    border-color:var(--couleur-orange);    
}

/* FORMULAIRE AJOUT*/
#ajouter{
    background-color:var(--couleur-orange);
    border-color:var(--couleur-orange);    
}

.hidden{
   width:100px; 

}






