:root {
    --taille-appbar : 100px;
    background-color:white;
    /* align-items: center; */
}
   
body{
    display: flex;
    flex-direction: column;
    width:564px;
    height: 689px; 
    background-color: var(--couleur-fond);               
    align-items:center;
    margin: auto;
}

img{
    width:286px;
    height:149px;
}
    

    

