:root {
    --taille-appbar : 100px;
}

.appbar{
    background-color: var(--couleur-fond);
    height:var(--taille-appbar);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: var(--padding-base);
}
.appbar .logo img{
    max-width:130px;
    height:auto;
}
.appbar .icons{
    display:flex;
    justify-content: center;
    align-items: center;
}
.appbar .icons a{
    padding: 10px;
}
.appbar .fermerMenu, .appbar .langue{
    font-weight: 600;
    font-size: 24px;
}
.appbar .menu{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    position:absolute;
    top:var(--taille-appbar);
    left:0;
    min-height: calc(100vh - 100px);
    background-color: var(--couleur-fond);
}
.appbar .menu .lien{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height:33.3%;
}
.appbar .menu .lien svg{
    fill: var(--couleur-fond);
}
.appbar .lien:nth-of-type(1){
    background-color: var(--couleur-marine);
}
.appbar .lien:nth-of-type(2){
    background-color: var(--couleur-menu2);
}
.appbar .lien:nth-of-type(3){
    background-color: var(--couleur-menu3);
}
.appbar .lien:nth-of-type(4){
    background-color: var(--couleur-menu4);
}
.appbar .lien:nth-of-type(5){
    background-color: var(--couleur-menu5);
}
.appbar .lien:nth-of-type(6){
    background-color: var(--couleur-menu6);
}



.appbar .hidden{
    display:none;
}



