
/*---------- ACCUEIL --------*/

main .carte {
    height: 270px;
}
main .carte{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--couleur-marine);
    width:100%;
}
main .carte .text{
    margin-bottom: calc(var(--padding-base) * 3);
    text-align: center;
}
main .carte .text p{
    color: var(--couleur-fond);
    margin-top: var(--padding-base);
}
main .carte .btnAccueil{
    /* margin-top:50px; */
    background-color: var(--couleur-fond);
    color: var(--couleur-marine);
}

main .nvlOeuvres {
    margin-top:var(--padding-base);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .nvlOeuvres h2{
    margin:var(--padding-base);
}


  /* BREAK TABLET PORTRAIT UP */
  @media screen and (min-width: 600px) {


    /*Agrandir height sections*/
    main .carte{
        height: 540px;
    }
}

/* BREAK TABLET LANDSCAPE UP */
@media screen and (min-width: 900px) {
    .slide a .img {
        height: 250px;
    }
}

/* BREAK TABLET DESKTOP UP */
@media screen and (min-width: 1200px) {
    main{
        max-width:1350px;
    }
    main .carte {
        height: 764px;
    }
    /*Section titre :*/
    main .carte .text{
        margin-bottom: calc(var(--padding-base) * 6);
    }

} 