
.listeLettre{
    display:flex;
}
main .choix{
    height: calc( 100vh - 160px);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 160px;
    width:22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--couleur-marine);
}
main .listeOeuvresText{
    width:78%;
    display:flex;
    flex-direction: column;
    margin: var(--padding-base) 0;  
}
main .listeOeuvresText a{
    padding-left: calc(var(--padding-base) * 3);
    font-size:1.4rem;
    padding-top: calc(var(--padding-base) / 3);
}
main .listeOeuvresText a:not(.lienArtiste){
    padding-left: calc(var(--padding-base) * 3);
    padding-top: var(--padding-base);
    font-size:1.4rem;
    font-weight:600;
    text-transform: uppercase;
}
main .listeOeuvresText>section{
    display: flex;
    flex-direction: column;
} 

.lettre{
    font-size:6.4rem;
    font-weight:600;
    color: var(--couleur-marine);
}
.choix >.lettre{
    padding-bottom:var(--padding-base);
}
.lettreChoisie{
    padding : calc(var(--padding-base) * 2 0);
}

.choix>.lettre:first-of-type, .choix> .lettre:last-of-type{
    padding-top: var(--padding-base);
} 
.lettreChoisie p, .lettreChoisie a, .lettreChoisir a svg{
    color: var(--couleur-orange);
}
.lettreChoisie p{
    font-size: 8rem;
}

.lettreChoisie{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.lettreChoisie a svg{
    width:36px;
    height:36px;
}
.lettreChoisie a i{
    font-size:4rem;
}
@media screen and (min-width: 600px){
    main .listeOeuvresText{
        flex-wrap:wrap;
    }
    main .choix{
        justify-content: space-around;
    }
    
}


@media screen and (min-width: 600px) and (min-height:801px) {
    main .listeOeuvresText{
        /* max-height:8000px; */
        /* max-width:40%; */
    }
    .lettre{
        font-size:10.4rem;
    }
    .lettreChoisie p{
        font-size: 12rem;
    }
}


@media screen and (min-width: 600px) and (max-height:799px) {
    main .listeOeuvresText{
        /* max-height:3500px; */
    }
    .lettre{
        font-size:8.4rem;
    }
    .lettreChoisie p{
        font-size: 10rem;
    }
    .lettreChoisie a i{
        font-size: 7rem;
    }
}
@media screen and (min-width: 600px) {
    .lettreChoisie a i{
        font-size:8rem;
    }
}