/* Basé sur les sources de muicss*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap');


/* PAS ACTIF */
#prochainSprint{
    color:grey;
    opacity:0.5;
}

/**
 * Body CSS
 */

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
}
body{
    
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main{
    width:100%;
    flex: 1 0 auto;
    max-width:100%;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/*---------- ACCUEIL --------*/

main .carte{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--couleur-marine);
    height: 270px;
    width:100%;
}
main .carte .text{
    margin-bottom: calc(var(--padding-base) * 3);
}
main .carte .text p{
    color: var(--couleur-fond);
    margin-top: var(--padding-base);
}
main .carte .btnAccueil{
    /* margin-top:50px; */
    background-color: var(--couleur-fond);
    color: var(--couleur-marine);
}




/* .carte
{
    position: relative;
    width: var(--carte-largeur);
    height: var(--carte-hauteur);
    background-color: #fafafa;
    margin: 8px;
    
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
} */

/* .carte .image   
{
    width: 100%;
    height: var(--carte-hauteur-image);
    position: relative;
    overflow: hidden;
} */


.carte:hover .image  > img
{
    width: 100%;
    filter: none;
    transform: scale(1.02);
    transition : filter 500ms, transform 500ms;
    -webkit-transition : -webkit-filter 500ms, transform 500ms;
    
}
.carte .image  > img
{
    width: 100%;
    filter: grayscale(100%);
    transition : filter 500ms , transform 500ms;
    -webkit-transition : -webkit-filter 500ms, transform 500ms ;
    
}

.carte .image .dummy
{
    background-image: url("../img/placeholder_640_480.jpg");
    
}
  
.carte .image > .titre
{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-right: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
}

.carte  .texte
{
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
    
}
.carte  .texte > .description
{
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.carte  .barre-action
{
    height: 54px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.carte .barre-action a, .carte .barre-action button {
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    display: inline-block;
    line-height: 48px;
    margin: 0 16px;
    color: var(--main-couleur-lien);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13.3333px;
    text-decoration: none;
}


.petite-carte
{
    width: calc(var(--carte-largeur)/2);
    height: calc(var(--carte-hauteur)/2);
}
.petite-carte a
{
    text-decoration: none;
}
.petite-carte  .image   
{
    width: 100%;
    height: calc(var(--carte-hauteur-image)/2);
    
}

.petite-carte .image > .titre
{
    font-size: 18px;
}

.petite-carte .texte
{
    text-decoration: inherit;
    color: #000;
}


.petite-carte .image-info img  
{
    width: 100%;
    /*height: calc(var(--carte-hauteur-image)/10);*/
    
}

.petite-carte .image-info   
{
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.carte-info  .texte
{
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    
}

.carte-info  .texte h2
{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    
    
}

.oeuvre .auteur a
{
    color: var(--main-couleur-lien);
    text-decoration: none;
    display: block;
}

/*------------------ Liste des oeuvres -------------------*/

.conteneur_oeuvre_courante {
    display:flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
}

.conteneur_oeuvre_courante:nth-child(2n-1) {
    background-color: var(--couleur-fond);
}

.conteneur_oeuvre_courante:nth-child(2n) {
    background-color: var(--couleur-bleu);
}

.image_oeuvre_courante {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_oeuvre_courante img {
    
    max-width: 100%;
}

.texte_pied_image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.auteur_liste_oeuvre a {
    color: var(--couleur-marine);
    font-size: 24px;
}

.date_creation {
    color: var(--couleur-marine);
    font-size: 18px;
}

.auteur_liste_oeuvre {
    font-family: 'Pacifico';
}

.oeuvres
{
    width: 100%;
}



/*------------------ Affichage d'une oeuvre -------------------*/

.contenu.uneOeuvre
{
    padding-left: 0px;
}

.uneOeuvre > .oeuvre
{
    width: 900px;
    
    display: flex;
    background-color: #FFF;
    margin: 0px auto;
}

.uneOeuvre > .oeuvre > .titre {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 63px;
    text-align: center;
    color: #103C61;
}

.uneOeuvre > .oeuvre > .image
{
    width: 100%;
    height: var(--oeuvre-hauteur-image);
    position: relative;
    overflow: hidden;
}
.uneOeuvre > .oeuvre > .image > img
{
    width: 100%;
    
    position: relative;
}


.uneOeuvre > .oeuvre .image .dummy
{
    background: url("../img/placeholder_640_480.jpg") no-repeat center;
    background-size: cover;
}
  
.uneOeuvre > .oeuvre .image > .titre
{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-right: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
    color: #ffffff;
}


.uneOeuvre > .oeuvre .texte
{
    width: 100%;
}


.uneOeuvre > .retour
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #DF8E32;
    font-size: 24px;
    margin-left: var(--marge-gauche);
    text-decoration: none;
    background: url("/artPublic/img/icons/ic_keyboard_backspace_white_48px.svg") no-repeat;
    height: 48px;
}

.uneOeuvre > .retour a
{
    text-decoration: none;
    color: #DF8E32;
    padding-left: 48px;
}



.lien-pager
{
    margin-left: 5px;
    margin-top: 5px;
}

/**
 * Google map
 */
.carte-generale
{
    width: 900px;
    height: 500px;
    margin-top: 32px;
}

/**
 * Recherche
 */
/* 
.recherche
{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    width: 100%;
} */


/**
 * appbar
 */
/* 
.appbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 64px;
    background-color: #2196F3;
    color: #FFFFFF;
    
    padding-left: var(--marge-gauche);
    display: flex;
}
.appbar h1, .appbar a
{
    color: #FFF;
    font-size: 24px;
    text-decoration: none;
} */

/**
 * contenu
 */


 .contenu {
    /* padding-left: var(--marge-gauche);
    min-height: 100%; */
    /* padding-top: 64px; */
        
    display: flex;
    flex-wrap: wrap;
    /* sticky footer */
    /* margin-bottom: -100px;
    padding-bottom: 100px; */
}  

.hidden
{
    display: none;
}
