.cacher {
    display:none;
}

.mesInfos{
    height:100%;
    width:100%;
}

.mesDonnes{
    padding: 10px 0px 0px 0px;
    border-radius: 0;
    border-top: 1px solid hsla(0,0%,100%,.1);
    background-color: rgba(9,85,135,.2);
}
.infosPersos{
    height:50%;
}
.autresInfos{
    height:50%;
}
.mesDonnes div h4{
    padding: 15px 20px;
    background-color: rgba(9,85,135,.1);
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--couleur-marine);
    text-transform: uppercase;
}

.mesDonnes div p{
    padding-top: 8px;
    color: var(--couleur-marine);
}
.mesDonnes div a{
    color: var(--couleur-marine);
}


/*-------------- CONNEXION ------------*/
main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.connexion, .inscrip{
    min-height:calc(100vh - (var(--taille-appbar) * 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form div{
    padding: var(--padding-base) 0;
}
form p{
    margin-bottom: calc(var(--padding-base) / 2);
}
.connexion h2, .inscrip h2{
    text-align: center;
    margin:var(--padding-base) 0;
}
.inscription, .connex{
    /* position:absolute; */
    /* bottom:0; */
    background-color: var(--couleur-bleu);
    width:100%;
    min-height: var(--taille-appbar);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lienInscription{
    display:flex;
    justify-content: flex-start;
}
.lienInscription a{
    display: flex;
    align-items: center;
}

}
.lienInscription a{
    display:flex;
    justify-content: center;
    align-items: center;
}
.lienInscription a, .inscription i, .inscription p{
    color:var(--couleur-marine);
}
.inscription i, .connex i{
    font-size: 2.4rem;
}


/* BREAK TABLET PORTRAIT UP */
@media screen and (min-width: 700px) {
    main{
        max-width:600px;
        justify-content: center;
    }
    .connexion, .inscrip{
        min-height:50vh;
        background-color: var(--couleur-fond);
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: calc(var(--padding-base) *3) 0; */
    }
    .inscription, .connex{
        position: static;
    }
}

/* BREAK DESKTOP UP */
@media screen and (min-width: 1200px) {
    main{
        max-width:1350px;
        flex-direction: row;
    }
    .connexion, .inscrip{
        width:66%;
    }
    .inscription, .connex{
        width:33%;
        min-height:50vh;
    }
    .connexion h2{
        margin-bottom:  calc(var(--padding-base) *3);
    }


}

