h1{
    font-family: 'Pacifico', cursive;
    font-size:4rem;
    color: var(--couleur-orange);
}

p{
    font-size:1.4rem;
}


h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:2.4rem;
    color:var(--couleur-marine);
    text-transform: uppercase;
}

.nom{
    font-family: 'Open Sans', sans-serif;
    font-size:1.5rem;
    color:var(--couleur-fond);
    font-weight: bold;
    /* text-transform: uppercase; */
}

.btn{
    font-weight:bold;
    font-size:1.6rem;
    color:var(--couleur-fond);
}


