h1{
    font-family: 'Pacifico', cursive;
    font-size:4rem;
    color: var(--couleur-orange);
}

p{
    font-size:1.4rem;
}


h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:2.4rem;
    color:var(--couleur-marine);
}

.btn{
    font-weight:bold;
    font-size:1.6rem;
    color:var(--couleur-fond);
}

/**
 * menuAdmin
 */

#menuadmin{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 238, 238);
}

#textMenuAdmin{
    width:100%;
    background-color: var(--couleur-marine);
    color: var(--couleur-fond);
    padding: 15px;
    font-display:  
     
}
fieldset{
    border-color:var(--couleur-orange);
}

#fieldset{
    display:flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color:black;
    margin-top:5px;
    font-size: 1.2em;
}

a:hover{    
    font-style: italic;
    color:var(--couleur-orange)  
}

#textlegend{
    font-size: 1.2em;
    margin:1px;
    color: var(--couleur-marine);
}
fieldset{
    width:150px;
}
