

/*.effet-enter{
  opacity: 0;
  
}*/

.effet-enter-active
{
    opacity: 1;
}



/*.effet-leave {
  opacity: 1;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
}*/

.effet-leave-active {
  opacity: 0;
}

.child-view {
  transition: all .5s;
}