<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteBase /art-pub-mtl/api/admin/
   	
   	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1&%{QUERY_STRING} [L]
   
</IfModule>

